
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutUser.cshtml";
}
<style>
    .body {
        height: 75vh;
    }

    .panel-footer {
        text-align: center;
        color: black;
        font-size: 10px;
        font-weight: bold;
    }
</style>
<h2 style="text-align:center; font-family:Arial, Tahoma, Geneva, Verdana, sans-serif;">
    TRANG QUẢN TRỊ SACHONLINE
</h2>
<div class="body">

</div>
<footer class="panel-footer">
    Copyright by DangTrungHieu
</footer>

