<a href="@Url.Action("GioHang","GioHang")" style="color:white;font-weight:bold;text-decoration:none">
    <img src="https://www.iconpacks.net/icons/2/free-shopping-cart-icon-2029-thumb.png" style="width:30px;" />
    Giỏ hàng (@ViewBag.TongSoLuong)
</a>

