
@{
    ViewBag.Title = "XacNhanDonHang";
    Layout = "~/Views/Shared/LayoutSachOnline.cshtml";
}

<h2>Xác nhận đơn hàng</h2>
<h4>Đơn hàng của quý khách đã được chúng tôi ghi nhận </h4>
<p>
    @Html.ActionLink("VỀ TRANG CHỦ", "SachOnline", "SachOnline")
</p>
