@model DangTrungHieu.SachOnline.Models.CHUDE
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutUser.cshtml";
}

<div>
    <h4>Trang thông tin chủ đề</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label class="control-label col-md-2">Tên chủ đề: </label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenChuDe)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.MaCD }) |
    @Html.ActionLink("Trở về trang quản lí chủ đề", "Index", null, htmlAttributes: new { @class = "btn btn-default" })
</p>

