@using DangTrungHieu.SachOnline.Models
<!---------------------------------------------------------------------------------------->
@{ ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutUser.cshtml";
}
<button class="btn btn-success" id="btnAdd"><i class="fa fa-plus" aria-hidden="true"></i>Thêm chủ đề</button><br />
    <table class="table">
        <thead>
            <tr>
                <th class="col-ms-9">
                    Tên chủ đề
                </th>
                <th class="col-ms-9 text-right">Các chức năng</th>
            </tr>
        </thead>
        <tbody id="tblDsChuDe">
        </tbody>
    </table>
<div id="pagination" class="menuTrang px-2"></div>

<div class="modal fade" id="modalChuDe" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="panel panel-primary">
                <div class="panel-heading" id="modalTitle"></div>
                <div class="panel-body">
                    <div class="form-group">
                        <input type="text" id="maCD" value="" hidden />
                        <label>Tên chủ đề</label>
                        <input type="text" class="form-control" id="txtTenChuDe" placeholder="Tên chủ đề ...." />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSubmit">Lưu</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>

    </div>

</div>


<style>
    .menuTrang {
            text-align: center;
            font-weight: bold;
    }
</style>
@section scripts{
        <script>
            //Index
            $(document).ready(function () {
                loadPage(1);
                

                //Chi tiet
                $(document).on('click', "button[name='view']", function () {
                    let idCD = $(this).closest('tr').attr('id');
                    $.ajax({
                        url: 'ChuDe/Detail',
                        type: 'get',
                        data: {
                            maCD: idCD
                        },
                        success: function (data) {
                            if (data.code == 200) {
                                $('#txtTenChuDe').val(data.cd.TenChuDe);
                                $('#txtTenChuDe').prop('readonly', true); // Sửa chính tả
                                $('#btnSubmit').hide();
                                $('#modalTitle').text('Xem chi tiet');
                                $('#modalChuDe').modal();
                            } else {
                                alert(data.msg);
                            }
                        }
                    });
                });

                //update
                $(document).on('click', "button[name='update']", function () {
                    let idCD = $(this).closest('tr').attr('id');
                    $.ajax({
                        url: 'ChuDe/Detail',
                        type: 'get',
                        data: {
                            maCD: idCD
                        },
                        success: function (data) {
                            if (data.code == 200) {
                                $('#txtTenChuDe').val(data.cd.TenChuDe);
                                $('#txtTenChuDe').prop('readonly', false);
                                $('#btnSubmit').show();
                                $('modalTitle').text('Cap nhat');
                                $('#maCD').val(idCD);
                                $('#modalChuDe').modal();
                            } else {
                                alert(data.msg);
                            }
                        }
                    })
                    
                });

                //delete
                $(document).on('click', "button[name='delete']", function () {
                    let idCD = $(this).closest('tr').attr('id');
                    if (confirm('Ban co chac chan muon xoa?')) {
                        $.ajax({
                            url: 'ChuDe/Delete',
                            type: 'post',
                            data: {
                                maCD: idCD
                            },
                            success: function (data) {
                                if (data.code == 200) {
                                    alert(data.msg);
                                    loadPage();
                                } else {
                                    alert(data.msg);
                                }
                            }
                        })
                    }
                });

                //Them moi
                $('#btnAdd').click(function () {
                    $('#modalTitle').text('Them moi chu de');
                    $('#maCD').val('');
                    $('#txtTenChuDe').val('');
                    $('#txtTenChuDe').prop('readonly', false);
                    $('#btnSubmit').show();
                    $('#modalChuDe').modal();
                });
                $('#btnSubmit').click(function () {
                    let strTenChuDe = $('#txtTenChuDe').val().trim();
                    if (strTenChuDe.length == 0) {
                        alert('Vui long nhap ten chu de');
                        return;
                    }
                    let maCD = $('#maCD').val().trim();
                    if (maCD == 0) {
                        $.ajax({
                            url: 'ChuDe/AddChuDe',
                            type: 'post',
                            data: {
                                strTenCD: strTenChuDe
                            },
                            success: function (data) {
                                if (data.code == 200) {
                                    alert(data.msg);
                                    loadPage();
                                    $('#txtTenChuDe').val('');
                                } else {
                                    alert(data.msg);
                                }
                            }
                        })
                    } else {
                        $.ajax({
                            url: 'ChuDe/Update',
                            type: 'post',
                            data: {
                                maCD: maCD,
                                strTenCD: strTenChuDe
                            },
                            success: function (data) {
                                if (data.code == 200) {
                                    alert(data.msg);
                                    $('#modalChuDe').modal('hide');
                                    loadPage();
                                } else {
                                    alert(data.msg);
                                }
                            }
                        })
                    }
                });
            });
            function loadPage(page) {
                var pageSize = 5; // Kích thước trang
                $.ajax({
                    url: 'ChuDe/DsChuDe',
                    type: 'get',
                    data: { page: page, pageSize: pageSize },
                    success: function (data) {
                        if (data.code === 200) {
                            $('#tblDsChuDe').empty();
                            $.each(data.dsCD, function (k, v) {
                                let s = '<tr id ="' + v.MaCD + '">';
                                s += '<td class = "col-ms-9">' + v.TenCD + '</td>';
                                s += '<td class = "col-ms-3 text-right">';
                                s += '<button class="btn btn-sm btn-info" name="view"><i class="fa fa-info-circle" aria-hidden="true"></i></button>&nbsp';
                                s += '<button class="btn btn-sm btn-warning" name="update"><i class="fa fa-edit" aria-hidden="true"></i></button>&nbsp';
                                s += '<button class="btn btn-sm btn-danger" name="delete"><i class="fa fa-trash" aria-hidden="true"></i></button>';
                                s += '</td>';
                                s += '</tr>';
                                $('#tblDsChuDe').append(s);
                            });

                            // Hiển thị thanh phân trang
                            renderPagination(data.currentPage, data.totalPages);

                            // Xử lý sự kiện khi người dùng chọn xem chi tiết
                            $('.view-btn').click(function () {
                                var chudeId = $(this).data('chudeid');
                                viewChuDe(chudeId);
                            });
                        }
                    }
                });
            }
            //Phan Trang
            function renderPagination(currentPage, totalPages) {
                var pagination = '';

                for (var i = 1; i <= totalPages; i++) {
                    if (i === currentPage) {
                        pagination += '<span>' + " " + i + " " + '</span>';
                    } else {
                        pagination += '<a  href="#" onclick="loadPage(' + i + ')">' + " " + i + " " + '</a>';
                    }
                }

                $('#pagination').html(pagination);
            }

        </script>
}
